/* ----------Define Global Variables---------- */
:root {

    /* ----------Colors---------- */
    --primary-color: #EE0100;
    --primary-color-opacity: #ee0000d4;
    --primary-color-dark: #e20606;
    --secondary-color: #F34444;
    --covering-color: #310F11;
    --covering-color-opacity: #310f1178;
    --spacing-color: #FCE6E6;
    --hightlight-color: #EDD8D8;
    --extra-color: #EC565650;

    /* ----------Fonts---------- */
    --primary-font: "Abril Fatface", serif;
    --secondary-font: "Unbounded", sans-serif;
    --filling-font: "Zalando Sans", sans-seri f;

    /* ----------Font Sizes---------- */
    --font-size-heading: clamp(2rem, 3vw, 5rem);
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    color: var(--covering-color);
    font-family: var(--filling-font);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--spacing-color);
    overflow-x: hidden;
    user-select: none;
}

/* img {
    opacity: 0;
}

img.loaded {
    opacity: 1;
} */

/* ----------Section01---------- */
#part01 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#part01-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

#part01-txt h1 {
    text-transform: uppercase;
    align-items: center;
    color: var(--spacing-color);
    font-size: clamp(3.9rem, 8vw, 7vw);
    line-height: .8;
    letter-spacing: -3px;
    font-family: var(--primary-font);
    font-weight: 100;

    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 1.3s;
}

#part01-txt h1:nth-child(1) {
    color: var(--primary-color);
    margin-top: 8.5rem;
}

#part01-txt h1:nth-child(2) {
    color: var(--secondary-color);
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

#part01-txt h5 {
    /* font-size: 1.13vw; */
    font-size: clamp(.8rem, 1vw, 2vw);
    text-transform: uppercase;
    margin-top: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 300;

    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 1.3s;
}

#part01-img {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#prt-02img {
    display: inline-block;
    z-index: 1;
    border-radius: 1vw 1vw 0vw 0vw;
    width: 60vw !important;
}

.prt-cmn {
    width: 25vw;
    height: 35vh;
    align-self: flex-end;
}

#part02 {
    height: 100vh;
    width: 100%;
    background-color: var(--spacing-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#part02 article {
    width: 55%;
    margin: 10px;
    padding: 20px;
    /* padding: 5vh; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 40px;
}

#part02 article:nth-child(1) {
    margin-top: 10vh;
}

#part02 article img {
    height: 16vw;
    border-radius: 1vw;
}

#part02 article div {
    padding: 20px 20px;
    text-align: justify;
}

#part02 article div h3 {
    font-size: clamp(1rem, 1.7vw, 3rem);
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 400;
}

#part02 article div p {
    font-size: clamp(.8rem, 2vw, 1.1rem);
    line-height: 1.5;
    font-family: var(--filling-font);
    font-weight: 300;
}

#part03 {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#part03 h3 {
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 10vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

#part03 div {
    margin-top: 2vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
    gap: 2vw;
    overflow: hidden;
}

#part03 img {
    width: 100%;
    border-radius: 1vw;
    height: 15vw;
    object-fit: cover;
}

#part04 {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#part04 h3 {
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 15vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

#prt04-moving-brands {
    margin-top: 2vh;
    width: 95%;
    white-space: nowrap;
    padding: 1vw;
    overflow: hidden;
    position: relative;
    /* background-color: white; */
    background-color: var(--hightlight-color);
}

#blurLeft {
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent, var(--spacing-color));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blurRight {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, var(--spacing-color));
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#prt04-moving-brands .move {
    display: inline-block;
    animation: move-left 20s linear infinite;
}

#prt04-moving-brands .move img {
    height: 3.5vw;
    margin: 0 2vw;
}

#prt04-dts {
    display: flex;
}

#prt04-dts div {
    border: 1px solid var(--covering-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    padding: 0.8vw 1.5vw;
    border-radius: 1vw;
}

#prt04-dts div h4 {
    font-size: clamp(1.2rem, 1.8vw, 4rem);
    color: var(--covering-color);
    font-family: var(--secondary-font);
    font-weight: 600;
}

#prt04-dts div h6 {
    font-size: clamp(.8rem, 0.8vw, 2rem);
    color: var(--covering-color);
    font-family: var(--filling-font);
    font-weight: 400;
}

#part05 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4vh;
}

.testimonial__swiper {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 13vh;
}

#part05 h3 {
    text-align: center;
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 15vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.testimonial__card {
    width: 380px;
    background-color: var(--spacing-color);
    box-shadow: 0px 8px 16px var(--covering-color-opacity);
    padding: 1rem 1.5rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
}

.testimonial__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--hightlight-color);
    margin: 0 auto .5rem;
}

.testimonial__name {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.testimonial__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: .75rem;
}

.testimonial__stars {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.testimonial__stars i {
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonial__number {
    font-size: 1rem;
}

.swiper-pagination-bullets {
    bottom: 5.5rem !important;
}

.swiper-pagination-bullet {
    background-color: var(--primary-color);
    transition: opacity 0.4s;
}

.swiper-button-prev {
    left: calc(50% - 3rem);
}

.swiper-button-next {
    right: calc(50% - 3rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

:is(.swiper-button-prev, .swiper-button-next) {
    top: initial;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 1rem;
}

.swiper-button-next i,
.swiper-button-prev i {
    color: var(--spacing-color);
}

#part06 {
    min-height: 80vh;
    height: auto;
    padding-bottom: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#part06 h3 {
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 10vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

#prt06-members {
    margin-top: 2vh;
    width: 65vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));
    gap: 2vw;
}

#prt06-members article {
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    background-color: var(--hightlight-color);
}

#prt06-members article img {
    border-radius: 1vw;
    height: 17vw;
    max-width: 12vw;
    background-color: var(--spacing-color);
    object-fit: cover;
}

.prt06-info {
    padding: 2vh 1.5vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prt06-info h5 {
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-family: var(--secondary-font);
    font-weight: 400;
}

.prt06-info h6 {
    font-family: var(--filling-font);
    font-weight: 500;
    font-size: clamp(.5rem, .75vw, 3rem);
    opacity: .8;
}

.prt06-info span {
    font-size: 1vw;
    margin-top: 10px;
}

.prt06-info span a {
    border: 1px solid var(--covering-color);
    border-radius: 50%;
    padding: 0.2vw;
    text-decoration: none;
    opacity: .7;
    transition: all ease-in .1s;

    &:hover {
        opacity: 1;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }

    &:hover i {
        color: var(--spacing-color);
    }

}

.prt06-info span a i {
    font-size: clamp(.6rem, 1vw, 2rem);
}

.prt06-info p {
    line-height: 1.5;
    font-family: var(--filling-font);
    font-weight: 300;
    margin-top: 20px;
}

#part07 {
    height: auto;
    width: 100%;
    background-color: var(--spacing-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#part07 h3 {
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 10vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

#prt07-container {
    margin-top: 2vh;
    width: 100%;
    white-space: nowrap;
    padding: 1vw;
    overflow: hidden;
    position: relative;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.prt07-container-img {
    display: inline-block;
    animation: move-left 40s linear infinite;
}

.prt07-container-img img {
    border-radius: 1vw;
    height: 32vw;
    min-height: 18rem;
    margin: 0 1vw;
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
    .testimonial__title {
        font-size: 1.25rem;
    }

    .testimonial__card {
        width: 240px;
        /* padding-inline: 1rem; */
    }
}

/* For medium devices */
@media screen and (min-width: 640px) {
    .testimonial__swiper {
        max-width: 640px;
    }
}

@media screen and (max-width : 700px) {
    .testimonial__swiper {
        max-width: 370px;
    }

    .testimonial :is(.swiper-button-prev, .swiper-button-next) {
        display: none;
    }
}

/* For large devices */
@media screen and (min-width: 1150px) {
    .testimonial__swiper {
        max-width: 760px;
    }

    .testimonial__title {
        margin-bottom: 4rem;
    }

    .testimonial__card {
        width: 330px;
        /* padding: 3rem 2rem 4rem; */
        border-radius: 2rem;
    }

    .testimonial__number {
        font-size: var(--normal-font-size);
    }
}