/* ----------Define Global Variables---------- */
:root {

    /* ----------Colors---------- */
    --primary-color: #EE0100;
    --secondary-color: #F34444;
    --covering-color: #310F11;
    --spacing-color: #FCE6E6;
    --hightlight-color: #EDD8D8;
    --extra-color: #EC565650;

    /* ----------Fonts---------- */
    --primary-font: "Abril Fatface", serif;
    --secondary-font: "Unbounded", sans-serif;
    --filling-font: "Zalando Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: var(--filling-font);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--spacing-color);
    overflow-x: hidden;
}

/* ----------Navigation Bar---------- */

/* ----------Section01---------- */
#part01 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#part01-txt {
    width: 100%;
    /* padding-top: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#part01-txt h1 {
    text-transform: uppercase;
    align-items: center;
    color: aliceblue;
    font-size: clamp(3.9rem, 8vw, 7vw);
    line-height: .8;
    letter-spacing: -3px;
    font-family: var(--primary-font);
    font-weight: 100;
}

#part01-txt h1:nth-child(1) {
    color: var(--primary-color);
    margin-top: 8.5rem;
}

#part01-txt h1:nth-child(2) {
    color: var(--secondary-color);
}

#part01-txt h5 {
    /* font-size: 1.13vw; */
      font-size: clamp(.8rem, 1vw, 2vw);
    text-transform: uppercase;
    margin-top: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 300;
}

#part01-img{
    background-color: #310F11;
    flex-grow: 1;
}

#part02{
    height: 100vh;
    width: 100%;
    background-color: var(--extra-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#part02 article{
    background-color: yellowgreen;
    width: 65%;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* ----------Common Classes----------- */
.calcodesk-btn01 {
    background-color: red;
    cursor: pointer;
    color: white;
    min-height: 40px;
    min-width: 270px;
    height: 2.5vw;
    width: 20vw;
    border-radius: 0.7rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    transition: all ease-in-out .2s;
}

.calcodesk-btn01:hover {
    box-shadow: 1px 1px 10px #EE0100;
}

.calcodesk-btn01 i {
    margin-left: 5px;
    font-size: 1rem;
}