header {
    overflow: hidden;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0rem;
    z-index: 2;
    backdrop-filter: blur(50px);
    /* background-color: #FCE6E6; */
}

@keyframes navAni {
    from {
        margin-bottom: 20rem;
        opacity: 0;
    }

    to {
        margin-bottom: 0rem;
        opacity: 1;
    }
}

nav {
    height: 6.5vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #310F11;
    border-radius: 0.7rem;
    box-shadow: 0.1px 0.1px 10px #310F11;
    overflow: hidden;
    animation: navAni 1.5s ease-in-out 0s 1 alternate;
}

nav>a {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    background-color: #310F11;
}

nav>a img {
    height: 55px;
    width: 55px;
}

.navBar-options {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navBar-options a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FCE6E6;
    padding: 0rem 1.5rem;
    font-weight: 600;
    z-index: 1;
}

.clr1 {
    background-color: #EE0100;
    height: 100%;
    width: 17.70%;
    left: 0rem;
    top: 0;
    position: absolute;
    border-radius: 0.5rem;
    transition: 0.5s;
    box-shadow: 0.1px 0.1px 10px #EE0100;
}

.navBar-options a:nth-child(1):hover~.clr1 {
    left: 0rem;
    width: 17.70%;
}

.navBar-options a:nth-child(2):hover~.clr1 {
    left: 17.70%;
    width: 17.33%;
}

.navBar-options a:nth-child(3):hover~.clr1 {
    left: 35.03%;
    width: 17.40%;
}

.navBar-options a:nth-child(4):hover~.clr1 {
    left: 52.43%;
    width: 21.95%;
}

.navBar-options a:nth-child(5):hover~.clr1 {
    left: 74.38%;
    width: 25.62%;
}

.menuIcon {
    display: none;
}

.menuIcon i {
    color: #FCE6E6;
    font-size: 1.8rem;
    /* padding: 0rem 1rem; */
    margin-right: 2rem;
    cursor: pointer;
}


@media (max-width: 1200px) {
    nav {
        width: 80%;
    }
}

@media (max-width: 900px) {
    nav {
        width: 98%;
    }
}

@media (max-width: 700px) {
    header {
        height: 65px;
        background-color: #310F11;
    }

    nav {
        width: 100%;
    }

    .navBar-options {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}