/* ----------Define Global Variables---------- */
:root {

    /* ----------Colors---------- */
    --primary-color: #EE0100;
    --primary-color-opacity: #ee0000d4;
    --primary-color-dark: #e20606;
    --secondary-color: #F34444;
    --covering-color: #310F11;
    --covering-color-opacity: #310f1178;
    --spacing-color: #FCE6E6;
    --hightlight-color: #EDD8D8;
    --extra-color: #EC565650;

    /* ----------Fonts---------- */
    --primary-font: "Abril Fatface", serif;
    --secondary-font: "Unbounded", sans-serif;
    --filling-font: "Zalando Sans", sans-serif;

    /* ----------Font Sizes---------- */
    --font-size-heading: clamp(2rem, 3vw, 5rem);
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
}


/* ----------whatsappIcon---------- */
#wht {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 90px;
    right: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    z-index: 3;

    &:hover {
        box-shadow: 1px 1px 10px #00ff15;
        scale: 1.2;
    }
}

#wht a {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #00ff15;
    color: #FCE6E6;
    text-decoration: none;
}

#wht a i {
    color: gainsboro;
    background-color: #00ff15;
    font-size: 1.5rem;
}

/* ----------NavBar---------- */
header {
    overflow: hidden;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0rem;
    z-index: 2;
    backdrop-filter: blur(50px);
}

@keyframes navAni {
    from {
        margin-bottom: 20rem;
        opacity: 0;
    }

    to {
        margin-bottom: 0rem;
        opacity: 1;
    }
}

nav {
    height: 6.5vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--covering-color);
    border-radius: 0.7rem;
    box-shadow: 0.1px 0.1px 10px var(--covering-color);
    overflow: hidden;
    animation: navAni 1.5s ease-in-out 0s 1 alternate;
}

nav>a {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    background-color: var(--covering-color);
}

nav>a img {
    height: 55px;
    width: 55px;
}

.navBar-options {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navBar-options a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--spacing-color);
    padding: 0rem 1.5rem;
    font-weight: 600;
    z-index: 1;
}

.clr1 {
    background-color: var(--primary-color);
    height: 100%;
    width: 17.70%;
    left: 0rem;
    top: 0;
    position: absolute;
    border-radius: 0.5rem;
    transition: 0.5s;
    box-shadow: 0.1px 0.1px 10px var(--primary-color);
}

.navBar-options a:nth-child(1):hover~.clr1 {
    left: 0rem;
    width: 17.70%;
}

.navBar-options a:nth-child(2):hover~.clr1 {
    left: 17.70%;
    width: 17.33%;
}

.navBar-options a:nth-child(3):hover~.clr1 {
    left: 35.03%;
    width: 17.40%;
}

.navBar-options a:nth-child(4):hover~.clr1 {
    left: 52.43%;
    width: 21.95%;
}

.navBar-options a:nth-child(5):hover~.clr1 {
    left: 74.38%;
    width: 25.62%;
}

.menuIcon {
    display: none;
}

.menuIcon i {
    color: var(--spacing-color);
    font-size: 1.8rem;
    /* padding: 0rem 1rem; */
    margin-right: 2rem;
    cursor: pointer;
}


@media (max-width: 1200px) {
    nav {
        width: 80%;
    }
}

@media (max-width: 900px) {
    nav {
        width: 98%;
    }
}

@media (max-width: 700px) {
    header {
        height: 65px;
        background-color: var(--covering-color);
    }

    nav {
        width: 100%;
    }

    .navBar-options {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}

/* ----------Button---------- */
.calcodesk-btn01 {
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--spacing-color);
    min-height: 40px;
    min-width: 270px;
    width: 20vw;
    height: 2.5vw;
    border-radius: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    transition: all .2s ease;
    text-decoration: none;
}

.calcodesk-btn01:hover {
    box-shadow: 0px 5px 15px var(--primary-color-dark);
    background-color: var(--primary-color-dark);
    transform: translateY(-2px);
}

.calcodesk-btn01:active{
    transform: translateY(0px);
}

.calcodesk-btn01 i {
    margin-left: 5px;
    font-size: 1rem;
    color: var(--spacing-color);
}

/* ----------Footer Code---------- */
footer {
    height: auto;
    min-height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer h3 {
    font-size: var(--font-size-heading);
    margin: 2vh 0;
    margin-top: 7vh;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.ftr-connect {
    margin-top: 1vh;
}

.ftr-connect a {
    display: inline-block;
    border-radius: 1vw;
    border: 1px solid var(--primary-color);
    opacity: .7;
    text-decoration: none;
    padding: 1vw;
    margin: 0 .3vw;
    transition: all ease-in .2s;

    &:hover {
        opacity: 1;
        background-color: var(--primary-color);
        box-shadow: 4px 4px 10px #0003;
    }

    &:hover i {
        color: var(--spacing-color);
    }
}

.ftr-connect a i {
    font-size: 1.5vw;
    color: var(--primary-color);
}

footer p {
    position: absolute;
    bottom: 20px;
    opacity: .7;
}